/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .slider-active .owl-nav button {
        left: 0;
    }
    .slider-active .owl-nav button.owl-next{
        right: 0;
    }
    .slider-text h2 {
        font-size: 50px;
    }
    .slider-text p {
        font-size: 15px;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-active .owl-nav button {
        left: 0;
    }
    .slider-active .owl-nav button.owl-next{
        right: 0;
    }
    .slider-text h2 {
        font-size: 50px;
    }
    .slider-text p {
        font-size: 15px;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .slider-active .owl-nav button {
        left: 0;
    }
    .slider-active .owl-nav button.owl-next{
        right: 0;
    }
    .slider-text h2 {
        font-size: 50px;
    }
    .slider-text p {
        font-size: 15px;
        padding: 0 20px;
    }
    .slider-active .owl-nav {
        display: none;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
}
